{% extends "layout.html" %}
{% block content%}
    <h1>Reports Page</h1>
    <a href="{{ url_for('activity') }}" class="btn btn-sq-lg btn-primary">
      <i class="fa fa-bar-chart-o fa-5x"></i><br/>
      Activity <br/>Report
    </a>
    <a href="{{ url_for('export') }}" class="btn btn-sq-lg btn-success">
      <i class="fa fa-cloud-download fa-5x"></i><br/>
      Export <br/>Student Data
    </a>
    <a href="{{ url_for('utilization') }}" class="btn btn-sq-lg btn-danger">
      <i class="fa fa-clock-o fa-5x"></i><br/>
      Utilization <br/>Report
    </a>
    
{% endblock content %}