<!-- PULL UP EXCEL FILE TO MAKE SURE THE ROTATIONS NAME MATCH WHEN EDITING -->
<!-- OPTIONAL TO PUT BUTTON TO ADD COMPETENCY LIKE THE FIRST ONE -->
<!-- THE EXCEL FILE UPLOAD IS localhost:5000/about -->
{% extends "layout.html" %}
{% block content%}
    <h1>Rotations Page</h1>
    <div class="accordion" id="accordionExample">
        {% if current_user.rotation == "All" or current_user.rotation == "Anatomic Pathology" %}  
        <!-- // This is where it start that was changed -->
        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Anatomic Pathology
                </button>
            </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                    <table class="table">  
                            <thead class="thead-dark">
                                <tr>
                                    <th>Competency ID</th><th>Description</th><th></th><th></th> 
                                    <!-- Take this line above and follow suit to th other pathologies i.e. add the table head <th>  -->
                                </tr>
                            </thead>
                            <tbody>
                                <tbody> 
                                       
                                        {% for val in Comp %}
                                        {% if val.rot_name == "Anatomic Pathology" %}
                                        <tr> 
                                           
                                            <td>{{val.id}}</td>
                                            <td>{{val.descrip}}</td>
                                            {% if current_user.level == 1 %} 
                                            <!-- Copy from this If statement all the way down to the end of this statement -- level 1 is admin -->
                                                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                                <td>
                                                    <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                                        <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                        Delete
                                                        </button>
                                                        <div class="collapse" id="{{ val.id }}">
                                                            <div class="card card-body">
                                                            Are you sure you want to delete this Competancy?
                                                            </div>
                                                    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                                No
                                                            </button>
                                                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                                    
                                                         </div>
                                                    </form>
                                                </td>
                                            {% endif %} 
                                            <!-- end of if to copy     -->
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    
                                </tbody>
                            </tbody>
                          </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Anaesthesiology" %}
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Anaesthesiology
                </button>
            </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                       
                                {% for val in Comp %}
                                {% if val.rot_name == "Anaesthesiology" %}
                                <tr>
                                    <td>{{val.id}}</td>
                                    <td>{{val.descrip}}</td>
                                    {%if current_user.level == 1 %}
                                    <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                    <td>
                                        <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                            <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                            Delete
                                            </button>
                                            <div class="collapse" id="{{ val.id }}">
                                                <div class="card card-body">
                                                Are you sure you want to delete this Competancy?
                                                </div>
                                        <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                    No
                                                </button>
                                                <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                        
                                             </div>
                                        </form>
                                    </td>
                                    {% endif %} 
                                    <!-- end if for rotation 2 -->
                                </tr>
                                {% endif %}
                                {% endfor %}
                            
                        </tbody>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Clinical Pathology" %}
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Clinical Pathology
                </button>
            </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            
                                {% for val in Comp %}
                                {% if val.rot_name == "Clinical Pathology " %}
                                <tr>
                                    <td>{{val.id}}</td>
                                    <td>{{val.descrip}}</td>
                                    {% if current_user.level ==  1 %}
                                    <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                    <td>
                                        <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                            <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                            Delete
                                            </button>
                                            <div class="collapse" id="{{ val.id }}">
                                                <div class="card card-body">
                                                Are you sure you want to delete this Competancy?
                                                </div>
                                        <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                    No
                                                </button>
                                                <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                        
                                            </div>
                                        </form>
                                    </td>
                                {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            
                        </tbody>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Diagnostic Imaging" %}
        <div class="card">
            <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Diagnostic Imaging
                </button>
            </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for val in Comp %}
                                {% if val.rot_name == "Diagnostic Imaging" %}
                                <tr>
                                    <td>{{val.id}}</td>
                                    <td>{{val.descrip}}</td>
                                    {% if current_user.level == 1 %}
                                    <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                        <td>
                                            <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                                <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                Delete
                                                </button>
                                                <div class="collapse" id="{{ val.id }}">
                                                    <div class="card card-body">
                                                    Are you sure you want to delete this Competancy?
                                                    </div>
                                            <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                        No
                                                    </button>
                                                    <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                            
                                                    </div>
                                            </form>
                                        </td>
                                    {% endif %}
                                </tr>
                                {% endif %}
                                {% endfor %}
                            
                        </tbody>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Equine Medicine and Surgery" %}
        <div class="card">
            <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Equine Medicine and Surgery
                </button>
            </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        
                                {% for val in Comp %}
                                {% if val.rot_name == "Equine Medicine and Surgery" %}
                                <tr>
                                    <td>{{val.id}}</td>
                                    <td>{{val.descrip}}</td>
                                    {%if current_user.level == 1 %}
                                    <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                    <td>
                                        <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                            <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                            Delete
                                            </button>
                                            <div class="collapse" id="{{ val.id }}">
                                                <div class="card card-body">
                                                Are you sure you want to delete this Competancy?
                                                </div>
                                        <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                    No
                                                </button>
                                                <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                        
                                                </div>
                                        </form>
                                    </td>
                                    {% endif %} 
                                    <!-- end if for rotation 2 -->
                                </tr>
                                {% endif %}
                                {% endfor %}
                            
                        </tbody>
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Avion and Exotics" %}
        <div class="card">
            <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Avion and Exotics
                </button>
            </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for val in Comp %}
                            {% if val.rot_name == "Avion and Exotics" %}
                            <tr>
                                <td>{{val.id}}</td>
                                <td>{{val.descrip}}</td>
                                {%if current_user.level == 1 %}
                                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                <td>
                                    <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                        <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        Delete
                                        </button>
                                        <div class="collapse" id="{{ val.id }}">
                                            <div class="card card-body">
                                            Are you sure you want to delete this Competancy?
                                            </div>
                                    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                No
                                            </button>
                                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                    
                                            </div>
                                    </form>
                                </td>
                                {% endif %} 
                                <!-- end if for rotation 6-->
                            </tr>
                            {% endif %}
                            {% endfor %} 
                        </tbody>
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Food Animal Theriogenology" %}
        <div class="card">
            <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Food Animal Theriogenology
                </button>
            </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        
                            {% for val in Comp %}
                            {% if val.rot_name == "Food Animal Theriogenology" %}
                            <tr>
                                <td>{{val.id}}</td>
                                <td>{{val.descrip}}</td>
                                {%if current_user.level == 1 %}
                                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                <td>
                                    <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                        <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        Delete
                                        </button>
                                        <div class="collapse" id="{{ val.id }}">
                                            <div class="card card-body">
                                            Are you sure you want to delete this Competancy?
                                            </div>
                                    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                No
                                            </button>
                                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                    
                                            </div>
                                    </form>
                                </td>
                                {% endif %} 
                                <!-- end if for rotation 7 -->
                            </tr>
                            {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Small Animal Medicine" %}
        <div class="card">
            <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Small Animal Medicine
                </button>
            </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        
                            {% for val in Comp %}
                            {% if val.rot_name == "Small Animal Medicine" %}
                            <tr>
                                <td>{{val.id}}</td>
                                <td>{{val.descrip}}</td>
                                {%if current_user.level == 1 %}
                                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                <td>
                                    <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                        <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        Delete
                                        </button>
                                        <div class="collapse" id="{{ val.id }}">
                                            <div class="card card-body">
                                            Are you sure you want to delete this Competancy?
                                            </div>
                                    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                No
                                            </button>
                                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                    
                                            </div>
                                    </form>
                                </td>
                                {% endif %} 
                                <!-- end if for rotation 8 -->
                            </tr>
                            {% endif %}
                            {% endfor %}
                            
                        </tbody>
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
        {% endif %}
        {% if current_user.rotation == "All" or current_user.rotation == "Small Animal Surgery and Anaesthesiology" %}
        <div class="card">
            <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Small Animal Surgery and Anaesthesiology
                </button>
            </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        
                            {% for val in Comp %}
                            {% if val.rot_name == "Small Animal Surgery and Anaesthesiology" %}
                            <tr>
                                <td>{{val.id}}</td>
                                <td>{{val.descrip}}</td>
                                {%if current_user.level == 1 %}
                                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                <td>
                                    <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                        <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        Delete
                                        </button>
                                        <div class="collapse" id="{{ val.id }}">
                                            <div class="card card-body">
                                            Are you sure you want to delete this Competancy?
                                            </div>
                                    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                No
                                            </button>
                                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                    
                                            </div>
                                    </form>
                                </td>
                                {% endif %} 
                                <!-- end if for rotation 9 -->
                            </tr>
                            {% endif %}
                            {% endfor %} 
                        </tbody>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        {% endif %}
        <!-- Dop down menu for Public health -->
        {% if current_user.rotation == "All" or current_user.rotation == "Public Health" %}
        <div class="card">
            <div class="card-header" id="headingTen">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                    Public Health
                </button>
            </h5>
            </div>
            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
            <div class="card-body">
                <a class="nav-item nav-link" href="{{ url_for('new_comp') }}">Add new Competancy</a>
                <table class="table">  
                    <thead class="thead-dark">
                        <tr>
                            <th>Competency ID</th><th>Description</th><th></th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                        
                            {% for val in Comp %}
                            {% if val.rot_name == "Public Health" %}
                            <tr>
                                <td>{{val.id}}</td>
                                <td>{{val.descrip}}</td>
                                {%if current_user.level == 1 %}
                                <td><a class="btn btn-secondary btn-sm mt-1 mb-1" href ="{{ url_for('update_comp', comp_id=val.id)}}">Edit</a></td>
                                <td>
                                    <form action="{{ url_for('delete_comp', comp_id=val.id)}}" method="POST">
                                        <button class="btn btn-warning btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                        Delete
                                        </button>
                                        <div class="collapse" id="{{ val.id }}">
                                            <div class="card card-body">
                                            Are you sure you want to delete this Competancy?
                                            </div>
                                    <button class="btn btn-secondary btn-sm mt-1 mb-1" type="button" data-toggle="collapse" data-target="#{{ val.id }}" aria-expanded="false" aria-controls="collapseExample">
                                                No
                                            </button>
                                            <input class="btn btn-danger btn-sm mt-1 mb-1" type="submit" value="Yes">
                                    
                                            </div>
                                    </form>
                                </td>
                                {% endif %} 
                                <!-- end if for rotation 9 -->
                            </tr>
                            {% endif %}
                            {% endfor %} 
                        </tbody>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}

