{% extends "layout.html" %}
{% block content%}
    <h1>Rotation Utilization</h1>
    <a href="#" class="btn btn-sq-lg btn-default">
      <i class="fa fa-bar-clock fa-4x"></i><br/>
      <h1>{{ ap_per }}%</h1>
      Anotomic Pathology
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
      <i class="fa fa-cloud-clock fa-4x"></i><br/>
      <!--<h1>{{ ans_per }}%</h1>-->
      Anaesthesiology
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
      <i class="fa fa-clock fa-4x"></i><br/>
      <h1>{{ cp_per }}%</h1>
      Clinical Pathology
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <h1>{{ di_per }}%</h1>
       Diagnostic Imaging
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <!--<h1>{{ ems_per }}%</h1>-->
        Equine Medicine </br> and Surgery
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <h1>{{ ae_per }}%</h1>
        Avian and Exotics
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <!--<h1>{{ fa_per }}%</h1>-->
        Food Animal </br>Theriogenology
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <!--<h1>{{ sa_per }}%</h1>-->
        Small Animal </br>Medicine
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <!--<h1>{{ sas_per }}%</h1>-->
        Small Animal Surgery </br>and Anaesthesiology
    </a>
    <a href="#" class="btn btn-sq-lg btn-default">
        <i class="fa fa-clock fa-4x"></i><br/>
        <!--<h1>{{ ph_per }}%</h1>-->
       Public Health
    </a>
    
{% endblock content %}